In [1]:
from tpot import TPOTClassifier
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np

In [2]:
mnist = pd.read_csv('dataset/train.csv')

In [3]:
mnist.head(5)

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
mnist_class = mnist['label'].values

In [5]:
mnist_class.shape

(42000,)

In [6]:
mnist_data = mnist.drop('label', axis=1).values

In [7]:
mnist_data.shape

(42000, 784)

In [8]:
X_train, X_test, y_train, y_test = train_test_split(mnist_data, mnist_class,
                                                    train_size=0.75, test_size=0.25)

In [9]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((31500, 784), (10500, 784), (31500,), (10500,))

In [ ]:
tpot = TPOTClassifier(generations=5, verbosity=2, max_time_mins=300, population_size=50)
tpot.fit(X_train, y_train)
print(tpot.score(X_test, y_test))

/Users/MatteoFu/miniconda3/envs/datascience/lib/python3.5/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
Optimization Progress: 118pipeline [4:44:29, 160.77s/pipeline]

In [ ]:
tpot.export('mnist_pipeline_v2.py')